<html>
<head>
  <title>WatTools - Feedback</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha256-rr9hHBQ43H7HSOmmNkxzQGazS/Khx+L8ZRHteEY1tQ4=" crossorigin="anonymous" />
</head>
<body>
  <div class="container">
    <h2>Feedback</h2>
    <p>Edits/New tools? Submit them here!</p>
    <form class="form-horizontal" action="https://lku03yxm64.execute-api.us-west-2.amazonaws.com/prod/feedback" method="POST">
      <p>Let me know who you are, so I can follow up if necessary!</p>
      <div class="form-group">
        <label for="name" class="col-sm-1 control-label">Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="message" class="col-sm-1 control-label">Message</label>
        <div class="col-sm-4">
          <textarea class="form-control" rows="5" id="message" name="message" required placeholder="Anything goes..."></textarea>
        </div>
      </div>
      <input type="submit" id="submit" value="Send Feedback!"/>
    </form>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha256-+kIbbrvS+0dNOjhmQJzmwe/RILR/8lb/+4+PUNVW09k=" crossorigin="anonymous"></script>
</html>
